body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#wordForm {
    margin-top: 20px;
    text-align: center;
}

#wordForm button {
    display: block; /* Exibe cada botão em uma linha separada */
    margin: 10px auto; /* Centraliza os botões horizontalmente e adiciona espaço vertical */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 5px;
}

#palavra {
    width: 80%;
    height: 130px;
    padding: 10px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    resize: none; 
    text-align: center;
}

  

button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Estilo para o botão "Traduzir" */
.btn-traduzir {
    background-color: #007bff; /* Cor de fundo azul */
    color: #fff; /* Cor do texto branco */
    padding: 15px 25px; /* Preenchimento interno */
    font-size: 18px; /* Tamanho da fonte */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor ao passar o mouse */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    margin-top: 20px;
}

/* Estilo de hover para o botão "Traduzir" */
.btn-traduzir:hover {
    background-color: #0056b3; /* Cor de fundo mais escura quando o mouse passa por cima */
}


#botaoCopiar {
    margin: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 10px; /* Ajuste conforme necessário para o espaçamento desejado */
}


button:hover {
    background-color: #555;
}

#resultado {
    height: 130px;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
